@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


  body {
    color: white;
    background: black;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background:red;
    transform-origin: 0%;
    z-index: 20;
  }


  .parent {
    display: grid;
    grid-template-columns: 1fr;
  }

  .parent div {
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
    grid-row-start: 1;
    grid-column-start: 1;
   }
  